.cloud-icon {
  height: 2.25rem;
  width:2.25rem;
  border-radius: :100%;
}

html,
body {
      box-sizing: border-box;
}

.icon-circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  /* Diameter of the circle */
  height: 2rem;
  /* Diameter of the circle */
  border-radius: 50%;
  /* Makes the container a circle */
  background-color: #000;
  /* Background color of the circle */
}

.icon-circle i {
  font-size: 1rem;
 
  padding: 0.125rem 0;
  /* 3px padding on top and bottom */
}

.firstTdRightBorder {
  border-right: 1px solid #ccc;
}

table {
  border-collapse: separate;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
}



.icon-text i {
  font-size: 0.3rem;
  background-color: transparent;
  color: chartreuse;
  margin-right: 0.25rem;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.9);
}
.language-options {
   
    text-wrap: nowrap;
   
    border: 2px solid #ddd;
    background-color:#333;
    /* Grey border */
    border-radius: 50px;
    /* Adjust based on your preference */
   
    padding-left: 4px;
    padding-right: 4px;
    /* Space between border and symbols */
    
    font-size:0.7rem;
  
  }
  
  .language-option {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    line-height: 25px;
    /* Center align text vertically */
    border: 2px solid transparent;
    /* Transparent border initially */
    color:#fff;
  }
  
  .language-option.active {
    border-color: #000;
    background-color:#fff;
    color:#000;
    /* Bootstrap primary color for active state */
  }
  
  
  .custom-btn{
    border-radius:25px;
    background-color:#e28848;
    border:none;
  }
  .custom-btn:hover,
  .custom-btn:focus,
  .custom-btn:active
   {
    background-color:#eca572;
    border:#000;
    outline: none; /* Remove default outline */
    box-shadow: none; /* Remove default box-shadow */
  }
  
    @media screen and (max-width:576px){
      .font-for-offcanvas{
        font-size:1.2rem;
      }
    }
  